<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
  	<title>Login con Google</title>
</head>

<body>

<h2>OAuth 2 demo project</h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
		</div>
		</form>
	</div>
			<div class="form-container sign-in-container">
				<form action="#">
					<h1>Accedi</h1>
					<div class="social-container">
						<a href="/auth/google">
				<img
			src="https://developers.google.com/static/identity/images/branding_guideline_sample_nt_rd_lg.svg"
			alt="Accedi con Google"
			style="height: 40px;"
  			/>
			</a>
			
			
			</div>
			<span>oppure usa il tuo account</span>
			<span>(disabilitato)</span>

			<input type="email" placeholder="email" disabled="disabled" />
			<input type="password" placeholder="password" disabled="disabled" />
			<a href="#">Password dimenticata?</a>
			<button>Accedi</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Benvenuto!</h1>
				<p>Accedi con Google per utilizzare l'app</p>
			</div>
		</div>
	</div>
</div>



</body>
</html>
